[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/sebastianpenning/ft_printf.git
[submodule "libft"]
	path = libft
	url = https://github.com/sebastianpenning/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/sebastianpenning/get_next_line.git
